extends layout

block scripts
  script(src="//www.google.com/jsapi")
  script(src="/js/lib/chartkick.js")
  script(src="/js/deals.js")
  if user && user.items && user.items.length > 0
    script.
      var items = !{JSON.stringify(user.items)}
  else
    script.
      var items = []

  if user && user.grocers && user.grocers.length > 0
    script.
      var grocers = !{JSON.stringify(user.grocers)}
  else
    script.
      var grocers = []

block content
  if user
    div.row
      div.col-md-4
        h2 Deals Breakdown
        div#deals-breakdown
      div.col-md-8
        h2 myDeals This Week
        table.table.table-striped(data-ng-controller="DealsController")
          thead
            tr
              td(style="width: 1rem;"): input#check-all-deals(type="checkbox")
              td Item
              td Location
              td Sale Price
              td Regular Price
              td Deal Expires
          tbody
            tr(data-ng-repeat="deal in deals")
              td(style="width: 1rem;"): input.check-deal(type="checkbox")
              td {{ deal.name }}
              td {{ deal.location }}
              td {{ deal.sale }}
              td {{ deal.price }}
              td {{ deal.end }}
        button.btn.btn-defaul.btn-primary#email-me(style="float: right; font-size: 2rem; font-weight: bold;") Email myDeals

    .modal#email-sent
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true")&times;
            h4.modal-title Sent Email
          .modal-body
            div A summary of your deals has been sent to !{user.email}.
          .modal-footer
            button.btn.btn-primary(type="button" data-dismiss="modal" style="font-weight: bold") OK


  else
    h1 Register or log in to start saving money!