extends layout

block scripts
  script(src="/js/profile.js")
  if user && user.items && user.items.length > 0
    script.
      var items = !{JSON.stringify(user.items)}
  else
    script.
      var items = []
  if user && user.grocers && user.grocers.length > 0
    script.
      var grocers = !{JSON.stringify(user.grocers)}
  else
    script.
      var grocers = []

if user
  .alert.alert-success.animated.flipInX
    i.fa.fa-check
    strong Success!
    |  You are logged in.

block content

  input(type='hidden' name='_csrf' id='csrf' value=token)

  div(data-ng-controller="ProductsController")
    .row
      .col-md-6
        .panel.panel-default

          .panel-heading: h3.panel-title My Watched Items
          .panel-body
            ul.no-list-style
              li
                form#new-item(role="form" data-ng-submit="submitNewItem()")
                  div(style="float: left;")
                    input.form-control(type="text" id="additem")
                  div(style="float: left;")
                    button.btn.btn-default add
                  .clearfix
              li(data-ng-repeat="item in myitems")
                input(type="checkbox" value="{{ item._id }}")
                | {{ " " + item.name }}


      .col-md-6
        .panel.panel-default

          .panel-heading: h2.panel-title My Location
          .panel-body
            input.form-control(type="text" id="location" placeholder="Calgary, AB")

        .panel.panel-default

          .panel-heading: h2.panel-title My Grocery Stores
          .panel-body
            ul.no-list-style
              li
                form#new-grocer(role="form" data-ng-submit="submitNewGrocer()")
                  div(style="float: left;")
                    input.form-control(type="text" id="addgrocer")
                  div(style="float: left;")
                    button.btn.btn-default add
                  .clearfix
              li(data-ng-repeat="grocer in mygrocers")
                input(type="checkbox" value="{{ grocer._id }}")
                | {{ " " + grocer.name }}