*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.no-list-style{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.navbar-default .navbar-brand{
    font-size: 2.5rem;
    color: purple;
}
.bright{
    color: hsl(200,100%,40%);
    font-weight: bold;
}
.right{
    float: right;
}
.middle{
    vertical-align:  middle;
}
.bigger{
    font-size: 4rem;
}
.panel-title{
    font-size: 3rem;
}